<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title></title>
</head>

<body>

    <table>

        <tr>

            <td>
                <span style="font-family:Arial;font-size:10pt">

                    Xin chào <b>{UserName}</b>,
                    
                    <br />
                    vui lòng dùng mật khẩu: <b style="color:#0026ff">{password}</b> để đăng nhập <br />
                    <br />
                    Nhấp vào đường dẫn để xác nhận rằng bạn mới đổi mật khẩu
                    <a href="http://192.168.1.133:88/api/updated-password" type="button">Xác nhận đổi mật khẩu</a>
                    (Mail này chỉ có hiệu lực trong vòng 1h)
                    <br />

                    Nếu bạn không yêu cầu đổi mật khẩu trên PTShop, vui lòng bỏ qua mail này.
                    <br />
                    Cảm ơn quý khách<br />

                    PTShop

                </span>

            </td>

        </tr>

    </table>

</body>

</html> 