<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title></title>
</head>

<body>

    <table>

        <tr>

            <td>
                <span style="font-family:Arial;font-size:10pt">

                    Xin chào <b>{name}</b>,
                    
                    <br />
                   Bạn vừa mới đăng ký tài khoản tại PTShop?
                    <br />
                    Vui lòng nhấn 
                    <a href="http://192.168.1.133:88/api/confirm-account" type="button">Xác thực</a> để xác thực tài khoản
                    <br/>
                    (Mail này chỉ có hiệu lực trong vòng 1 giờ)
                    <br />

                    Cảm ơn quý khách đã đăng ký tài khoản tại PTShop<br />

                    PTShop

                </span>

            </td>

        </tr>

    </table>

</body>

</html> 