<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title></title>
</head>

<body>

    <table>

        <tr>

            <td>
                <span style="font-family:Arial;font-size:10pt">

                    Hello <b>{UserName}</b>,<br /><br />

                    <a style="color:#195e83" href="{Url}">{Title}</a><br />

                    <br />

                    {message}

                    <br /><br />

                    Thanks<br />

                    PTShop

                </span>

            </td>

        </tr>

    </table>

</body>

</html> 