<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title></title>
</head>

<body>

    <table>

        <tr>

            <td>
                <span style="font-family:Arial;font-size:10pt">

                    Xin chào <b>{UserName}</b>,<br />

                    <a style="color:#195e83" href="{Url}">Xác nhận đặt hàng</a><br />

                    <br />
                    Bạn vừa mới đặt hàng trên PTShop?
                    <a href="http://192.168.1.133:88/api/confirmOrder"  type="button">Xác nhận đặt hàng</a>
                    (Mail này chỉ có hiệu lực trong vòng 1h)
                    <br />

                    Nếu bạn không đặt hàng trên PTShop, vui lòng bỏ qua mail này.
                    <br />
                    Cảm ơn quý khách<br />

                    PTShop

                </span>

            </td>

        </tr>

    </table>

</body>

</html> 