
ClothesAdmin/ClothesAdmin/.vs/ClothesAdmin/v15/Server/sqlite3/storage.ide-shm
ClothesAdmin/ClothesAdmin/.vs/ClothesAdmin/v15/.suo
ClothesAdmin/ClothesAdmin/.vs/ClothesAdmin/v15/Server/sqlite3/db.lock
ClothesAdmin/ClothesAdmin/.vs/ClothesAdmin/v15/Server/sqlite3/storage.ide
ClothesAdmin/ClothesAdmin/.vs/ClothesAdmin/v15/Server/sqlite3/storage.ide-wal
ClothesAdmin/ClothesAdmin/.vs/ClothesAdmin/v15/Server/sqlite3/storage.ide-shm
ClothesAdmin/ClothesAdmin/.vs/ClothesAdmin/v15/.suo
ClothesAdmin/ClothesAdmin/.vs/ClothesAdmin/v15/Server/sqlite3/db.lock
ClothesAdmin/ClothesAdmin/.vs/ClothesAdmin/v15/Server/sqlite3/storage.ide
ClothesAdmin/ClothesAdmin/.vs/ClothesAdmin/v15/Server/sqlite3/storage.ide-shm
ClothesAdmin/ClothesAdmin/.vs/ClothesAdmin/v15/Server/sqlite3/storage.ide-wal
